body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

/* Start of first section */

.bgImage {
    background-image: url("./imgs/train.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.part1 {
    width: 80%;
    margin: 0 10%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px)
}

.col {
    width: 500px;
}

.fiveG {
    width: 100px;
}

.introText {
    text-align: center;
    font-size: 50px;
    color: #000000;
}

.introText h1 {
    margin: 0;
    font-size: 0.8em;
    text-transform: uppercase;
}

.introText p {
    font-size: 0.35em;
    margin-bottom: 10%;
}

.timeLeft {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 40px;
}

.timeLeft p {
    margin: 0;
}

.timeLeft .timeColumns {
    font-size: 0.3em;
    margin: 0;
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    margin: 15% 0 10% 0;
    width: 450px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
}

.form input:focus {
    outline: none;
}

.form input::placeholder {
    color: rgba(255, 255, 255, 0.8)
}

.subButton {
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    background-color: #f71515;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: none;
}

.subButton:hover {
    color: rgb(10, 10, 10);
}

/* End of first section */

.shadeAway {
    background-image: url("./imgs/section2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.part2 {
    width: 80%;
    margin: 0 10%;
    height: 70vh;
    display: flex;
    align-items: center;
}

.col2 {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.col2 h2 {
    text-transform: uppercase;
}

.col2 p {
    width: 400px;
    color: rgb(90, 90, 90);
    line-height: 2em;
}

.aboutStartup p {
    margin-top: 25px 0;
}

.status p {
    margin: 20px 0 5px 0;
}

.percentage100 {
    height: 5px;
    width: 100%;
    background-color: #fff;
}

.percentage1 {
    height: 5px;
    background-color: #f71515;
    width: 95%;
}

.percentage2 {
    height: 5px;
    background-color: #f71515;
    width: 87%;
}

.percentage3 {
    height: 5px;
    background-color: #f71515;
    width: 90%;
}

.anyQuestions a {
    text-decoration: none;
    color: rgb(90, 90, 90);
}

.anyQuestions a:hover {
    color: rgb(0, 0, 0);
}

.contactForm {
    margin-top: 10%;
}

.contactForm input {
    width: 45%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-color: rgba(165, 165, 165);
    background-color: rgba(216, 24, 24, 0);
    font-size: 14px;
}

.contactForm input:focus {
    outline: none;
    border-bottom-color: rgb(131, 131, 131);
}

.contactForm input::placeholder {
    color: rgba(85, 82, 82, 0.8)
}

.contactForm p {
    padding-top: 35px;
    margin: 0;
}

.nameEmail {
    display: flex;
    justify-content: space-between;
}

.msgField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.msgField button {
    align-self: flex-end;
    margin-top: 10%;
}

.msgField input {
    width: 400px;
}

.submitMsg {
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: #f71515;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: none;
}

.backTopPosition {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

.backToTop {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f71515;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backToTop img {
    width: 20px;
    align-self: center;
}

/* end of section 2 */


.col3 {
    width: 100%;
    height: 50vh;
    background-color: #3341ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 100px;
    
}

.icons img {
    height: 20px;
    margin: 15px 20px 0 20px;
}

.footerHeading {
    margin: 40px 0 0 0;
    display: flex;
    align-items: center;
}

.footerHeading img {
    height: 80px;
    margin: 0 10px 0 0;
}

.footerHeading h2 {
    font-size: 40px;
}


.footerText {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 13px;
}

.copyright {
    margin-bottom: 10px;
}

.footerDescription {
    width: 700px;
    text-align: center;
    margin: 0;
    line-height: 2em;
}

.footerText a {
    text-decoration: none;
    color: white;
}

.footerText a:hover {
    color: rgb(250, 148, 148);
}